#wrapper > main > div section {
    padding: 1%;
}
#education > aside {
    background-color: rgba(35, 68, 101, 0.5);

    position: fixed;
    float: left;
    width: 140px;
    min-width: 100px;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 1px 1px rgba( 35, 68, 101, 0.5 ), 0 0 1px 2px #748593;
}
#education > aside li {
    line-height: 30px;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
}
#education > aside li:hover {
    background-color: #0F1D2A;
    border-radius: 10px;
    padding: 5px;
}
#education > div {
    float: right;
    margin: 30px;

}
#education::after {
    display: block;
    content: "";
    clear: both;
    zoom: 1;
}
 div section img {

     margin-top: 20px;
    float: left;
    border-radius: 20px;
     width: inherit;
    box-shadow: 0 0 1px 1px rgba( 35, 68, 101, 0.5 ), 0 0 1px 2px #748593;
}
  div section article {
      background-color: rgba(35, 68, 101, 0.5);
      margin: 20px;
    float: right;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0 0 1px 1px rgba( 35, 68, 101, 0.5 ), 0 0 1px 2px #748593;
}
#education > div  section > article {
    float: right;

}
h2{
    text-align: center;
    margin-left: 140px;
}
/*#education > div > section article::after {*/
    /*display: block;*/
    /*content: "";*/
    /*clear: both;*/
    /*zoom: 1;*/
/*}*/
/*#education > div::after {*/
    /*display: block;*/
    /*content: "";*/
    /*clear: both;*/
    /*zoom: 1;*/
/*}*/
article {
    padding: 10px;
    margin: 10px;
}
article h3{
    padding-bottom: 10px;
    font-weight: bold;
}