#wrapper > main > div section {
    padding: 1%;
}
#jedy-knight > aside {
    float: left;
    width: 20%;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 10px;
    box-shadow: 0 0 1px 1px rgba( 35, 68, 101, 0.5 ), 0 0 1px 2px #748593;
}
#jedy-knight > aside li {
    line-height: 30px;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
}
#jedy-knight > aside li:hover {
    background-color: #0F1D2A;
    border-radius: 10px;
    padding: 5px;
}
#jedy-knight > div {
    float: right;
    width: 75%;
}
#jedy-knight::after {
    display: block;
    content: "";
    clear: both;
    zoom: 1;
}
#jedy-knight > div section img {
    float: left;
    width: 30%;
    border-radius: 20px;
    box-shadow: 0 0 1px 1px rgba( 35, 68, 101, 0.5 ), 0 0 1px 2px #748593;
}
#jedy-knight > div section article {
    float: right;
    width: 65%;
    border-radius: 20px;
    box-shadow: 0 0 1px 1px rgba( 35, 68, 101, 0.5 ), 0 0 1px 2px #748593;
}
#jedy-knight > div  section > article {
    float: right;

}

#jedy-knight > div > section::after {
    display: block;
    content: "";
    clear: both;
    zoom: 1;
}
#jedy-knight > div::after {
    display: block;
    content: "";
    clear: both;
    zoom: 1;
}
article {
    padding: 10px;
}