
article img{
    border-radius: 20px;
    box-shadow: 0 0 1px 1px rgba( 35, 68, 101, 0.5 ), 0 0 1px 2px #748593;
    display: block;
    margin: 0 auto;
}
article p{
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    margin: 10px;
}