#wrapper > main > section {
    padding: 1%;
}
#wrapper > main > section > img {
    float: left;
    width: 30%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 1px 1px rgba( 35, 68, 101, 0.5 ), 0 0 1px 2px #748593;
}
#wrapper > main > section > article {
    float: right;
    width: 55%;
}
#wrapper > main > section::after {
    display: block;
    content: "";
    clear: both;
    zoom: 1;
}